body {
    background-color: #B7094C;
    color: white;
}

#intro h1{
    font-size: 6em;
    font-weight: bold;
}

#intro h2{
    font-size: 3em;
}

#about h2, #projects h2, #stack h2, #contact h2{
    font-size: 4em;
}

p{
    font-size: 1.5em;
}

.carousel{
    max-width: 1000px;
    max-height: 1000px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
  width: 100%;
  height: auto;
  max-height: 1000px;
  max-width: 1000px;
}

.carousel-item {
  text-align: center;
}
.carousel-caption {
    max-width: 100%;
    width:100%;
    background-color: #ffb81c;
    left: 0;
    bottom: 0;
}

.icon{
    margin: 5%;
    background-color: #B7094C;
    border: 5px solid #B7094C;
    border-radius: 5%;
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-out;
}

.icon:hover{
    transform:translateY(-50px)
}

a{
    text-decoration: none;
    color:white;
}
a:hover{
    color: #13131f;
    transition: 0.3s ease-out;
}

.debuggreen{
    background-color:greenyellow;
}

.debugred{
    background-color: red;
}

.debugblue{
    background-color: blue;
}

.card{
    background-color: #B7094C;
    border: 1px solid #B7094C;
}

.special{
    background-color: #B7094C;
    border: 1px solid #B7094C;
}

.special2{
    border:none;
}

.custom-gradient{
    background: linear-gradient(
        to bottom,
        transparent,
        black
    );
}

.slide-title{
    font-size: 2em;
    font-weight: bold;
}

.slide-link{
    font-size: 1em;
    font-weight: bold;
}

.slide-link:hover{
    color:#B7094C;
}