body {
    background-color: #B7094C;
    color: white;
}

#intro h1{
    font-size: 6em;
    font-weight: bold;
}

#intro h2{
    font-size: 3em;
}

#about h2, #projects h2, #stack h2, #contact h2{
    font-size: 4em;
}

p{
    font-size: 1.5em;
}

/* .carousel{
    max-width: 800px;
} */

/* .carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: auto;
}

.carousel-item {
  text-align: center;
}
.carousel {
    height: 800px;
  } */

.icon{
    margin: 5%;
    background-color: white;
    border: 5px solid white;
    border-radius: 5%;
    /* display:inline; */
    max-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.transparent{
    background-color: #B7094C;
    border: 5px solid #B7094C;
}